{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <section id="about" class="py-5 section-1">
        <div class="container py-5 text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>{% trans %}A propos{% endtrans %}</h2>
                    <div class="divider"></div>
                    <p class="text-muted lead pt-5">{% trans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.{% endtrans %}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="skills" class="py-5 section-2">
        <div class="container py-5 text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>{% trans %}Compétences{% endtrans %}</h2>
                    <div class="divider"></div>
                    <div class="container pt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="display-5">{% trans %}Langages{% endtrans %}</h5>

                                {% for skill in skills %}

                                <p>{{ skill.nom }}</p>

                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                <h5 class="display-5">Frameworks</h5>

                                {% for skill in skills %}

                                    <p>{{ skill.framework }}</p>

                                {% endfor %}
                            </div>
                            <div class="col-md-4">
                                <h5 class="display-5">CMS</h5>

                                {% for skill in skills %}

                                    <p>{{ skill.cms }}</p>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="py-5 section-3">
        <div class="container py-5 text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>{% trans %}Projets{% endtrans %}</h2>
                    <div class="divider"></div>
                    <p class="text-muted lead pt-5">{% trans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.{% endtrans %}</p>
                </div>
                <div class="row p-5">
                    {% for project in projects %}
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <a href="{{ project.url }}"> 
                                    <img src="{{ asset('img/images/' ~ project.img) }}" class="card-img-top" alt="projets">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ project.title}}</h5>
                                        <p class="card-text">{{ project.text }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </section>

    <section id="contact" class="py-5 section-4">
        <div class="container py-5 text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact</h2>
                    <div class="divider"></div>
                    <!-- Default form contact -->
                    <form class="text-center border border-light p-5" action="#!">
                        {{ form_start(formulaireDeContact) }}
                        {{ form_end(formulaireDeContact) }}
                    </form>
                </div>
            </div>
        </div> 
    </div>
    </section>
{% endblock %}
