{% extends 'baseAdmin.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

     {{ parent() }}
   

    <div class="col-10">
        <div class="row p-5">
            <div class="col-3">
                <h1>Les projets</h1>
            </div>
        </div>
        <div class="row p-5">
            {% for project in projects %}
                
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('img/images/' ~ project.img) }}" class="card-img-top" alt="projets">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.text }}</p>
                        <a href="{{ path('update_project', {id:project.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('delete_project', {id:project.id}) }}" class="btn btn-primary">supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('create_project') }}" class="btn btn-outline-dark float-right">Ajouter</a>
        
    </div>

{% endblock %}
