<p>
    Coordonnées du contact : 
    <ul>
        <li>Nom : {{ nom }} {{ prenom }}</li>
        <li>Email : {{ mail }}</li>
    </ul>
</p>

<p>Objet : {{ objet }}</p>

<p><b>Message : </<b></p>

<p>{{ message|nl2br }}</p>