<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Stephen Germain">

        <title>Stephen Germain | {% block title %}base{% endblock %}</title>

        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> #}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}"> {# asset pour viser le dossier "public" #}
        <script src="{{ asset("js/main.js") }}"></script>

        {% block stylesheets %}{% endblock %}
    </head>

    <body class="animate__animated animate__fadeIn" data-spy="scroll" data-target="#mainNav" data-offset="60">

        <section id="top" class="py-5 header text-center">
            <div class="container py-5 text-white">
                <header class="test py-5">
                    <h1 class="display-4 text-dark nom"
                        data-aos="fade-right"
                        data-aos-offset="300"
                        data-aos-duration="800"
                        data-aos-easing="ease-in-sine">
                        {{ nom|raw }}
                    </h1>
                    <p class="font-italic mb-1  text-dark prenom" 
                        data-aos="fade-left"
                        data-aos-offset="300"
                        data-aos-duration="800"
                        data-aos-easing="ease-in-sine">
                        {% trans %}Développeur Web et Web Mobile{% endtrans %}
                    </p>
                </header>
            </div>
        </section>

        <!-- Sticky navbar-->
        <header class="header sticky-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 shadow-sm" id="mainNav">
                <div class="container"><a class="navbar-brand" href="#top">
                    <strong class="h6 mb-0 font-weight-bold text-uppercase">Portfolio</strong></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="#top">{% trans %}Accueil{% endtrans %} <span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#about">{% trans %}A propos{% endtrans %}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#skills">{% trans %}Compétences{% endtrans %}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#projects">{% trans %}Projets{% endtrans %}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                            <li class="nav-item">
                                {% for langue in locales %}
                                    {% if langue != app.request.locale %}
                                        <a class="nav-link" href="{{ path('change_language', {'langue' : langue}) }}">
                                            <img src="{{ asset('img/drapeaux/drapeau_'~ langue ~'.png') }}" alt="drapeaux">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}
        {% endblock %}

            <!-- Footer -->
        <footer class="page-footer font-small blue">

            {# <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase">{{ nom|raw }}</h5>
                        <p>{{ adresse|raw }}</p>
                        <p>{{ ville|raw }}</p>
                        <p>{{ mail|raw }}</p>
                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-md-3 mb-md-0 mb-3 offset-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#about">{% trans %}A propos{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#skills">{% trans %}Compétences{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#projects">{% trans %}Projets{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> #}
  
            <div class="footer-copyright text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12 py-2">
                            <a href="#top">
                                <svg class="chevronUp" width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <a class="m-2 text-decoration-none" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                            </a>
                            <a class="m-2 text-decoration-none" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>© 2020 Copyright {{ nom|raw }} | <a href="#">Mentions légales</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        {# script pour les animations au scroll #}
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        {% block javascripts %}{% endblock %}
        {# <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}
    </body>
</html>
