<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Stephen Germain">

        <title>Admin - {% block title %}base{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/styleAdmin.css') }}"> {# asset pour viser le dossier "public" #}

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <!-- Sticky navbar-->
        <header class="header">
           
            <div class="container-fluid m-0 p-0">
                <div class="jumbotron mb-0 bg-dark text-white text-center">
                    <h2>Espace administrateur</h2>
                    <p>Bienvenue sur l'espace administrateur de votre Portfolio</p>
                </div>
            </div>
         </header>

        <div class="container-fluid">
            <div class="row">
                {% block body %}
                    <div class="col-2 bg-secondary text-white py-3 aside">
                        <ul class="nav flex-column aside">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{path('admin')}}">Accueil admin<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('admin_skills')}}">Compétences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('admin_project')}}">Projets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('home')}}">Retour accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </div>

            
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="flash-{{ label }} p-3 fixed-top bg-{{ label }} text-white text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %} 


        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
